{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Sign Up
				</h1>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start signup-page Area -->
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Create Your Account</h1>
					<p>Join us and start sharing your stories</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-lg-8">
				<form class="form-area contact-form text-right" method="post" action="{% url 'accounts:signup' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6 form-group">
							<input name="username" placeholder="Username" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Username'" class="common-input mb-20 form-control"
								required="" type="text" autofocus>
						</div>
						<div class="col-lg-6 form-group">
							<input name="email" placeholder="Email Address"
								pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'"
								class="common-input mb-20 form-control" required="" type="email">
						</div>
						<div class="col-lg-6 form-group">
							<input name="password1" placeholder="Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'" class="common-input mb-20 form-control"
								required="" type="password">
						</div>
						<div class="col-lg-6 form-group">
							<input name="password2" placeholder="Confirm Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Confirm Password'" class="common-input mb-20 form-control"
								required="" type="password">
						</div>
						<div class="col-lg-12">
							<div class="alert-msg" style="text-align: left;"></div>
							<button type="submit" class="genric-btn primary" style="float: right;">Sign Up</button>
						</div>
						<div class="col-lg-12 mt-20 text-center">
							<p class="text-center">Already have an account? <a href="{% url 'accounts:login' %}" style="color: #f8b600;">Login here</a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End signup-page Area -->
{% endblock %}
